/*
Theme Name: Michael Karas
Author: Ross Berenson
Author URI: http://ross.berenson.is/
Description: Theme for Michael Karas
Version: 1.0
*/

/*===========================================================================================================*/
/*																					Fonts					*/
/*=========================================================================================================*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*

@font-face {
    font-family: 'nexa_boldregular';
    src: url('fonts/nexa_bold-webfont.eot');
    src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_bold-webfont.woff') format('woff'),
         url('fonts/nexa_bold-webfont.ttf') format('truetype'),
         url('fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nexa_lightregular';
    src: url('fonts/nexa_light-webfont.eot');
    src: url('fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/nexa_light-webfont.woff') format('woff'),
         url('fonts/nexa_light-webfont.ttf') format('truetype'),
         url('fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


/*===========================================================================================================*/
/*																					General					*/
/*=========================================================================================================*/

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0.1em;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}



/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-twitter:before, .icon-facebook:before, .icon-youtube:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-twitter:before {
	content: "\e000";
}
.icon-facebook:before {
	content: "\e001";
}
.icon-youtube:before {
	content: "\e002";
}



.fill{
	height: 500px;
	width: 100%;
}

.bx-wrapper img {
	width: 100%;
	display: block;
}



/*===========================================================================================================*/
/*																					Structure				*/
/*=========================================================================================================*/

body{}

.row.container, .container{max-width: 1200px; margin: 0 auto;}

#content{
	background: #ffffff;
	box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.2);
	}

.break{
	height: 40px;
	background: url(images/argyle.png) repeat;
}

.dark{
	background: url(images/bg_videos.png) repeat #323232;
}

.aligncenter{margin: 0 auto; text-align: center;}

/*===========================================================================================================*/
/*																					Header					*/
/*=========================================================================================================*/


header{
	background: url(images/bg_header.png) repeat #ffffff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    height: 50px;
    z-index: 1;
    position: fixed;
    width: 100%!important;
}

	#logo {
	    display: block;
	    line-height: 60px;
	}
	
		#logo img{width: 204px; margin: 9px 45px 0 0; }

	.nav_wrap {
	    float: right;
	    position: relative;
	    margin-top: 36px;
	    width: auto;
	}
	
	.header_menu{
		display: inline-block;
	    margin-bottom: 0;
	    height: 50px;
	}
		.header_menu li {
		    display: table;
		    float: left;
		    height: 100%;
		    list-style: none outside none;
		    padding: 0;
		    width: 25%;
		}
		
		.mobile-menu .header_menu li {
		    background: #fff;
		}
			.header_menu li a {
			    color: #ABABAB;
			    display: table-cell;
			    text-transform: uppercase;
			    vertical-align: middle;
			    border-left: 1px solid #ededed;
			    text-align: center;
			    font-family: 'Roboto', sans-serif;
			    font-weight: 400;
			}
			
				.header_menu li a:last-child{border-right: 1px solid #ededed;}
			
			.header_menu li a:hover{color: #242424;}
			
			.header_menu li.active a{
				color: #252525;
				border-bottom: 2px solid #000;
				padding-top: 2px;
			}
			
	.social {
	    display: table;
	    float: right;
	    height: 50px;
	}
		.social a {
		    color: #ABABAB;
		    display: table-cell;
		    font-size: 16px;
		    padding: 0 10px;
		    vertical-align: middle;
		}
		
			.social a.last{
				padding-right: 0;
			}
		
		.social a.twitter:hover{color: #24b3dd}
		.social a.facebook:hover{color: #36528a}
		.social a.youtube:hover{color: #d6242a}
		
		
		
/*===========================================================================================================*/
/*																					Hero					*/
/*=========================================================================================================*/

#hero{padding-top: 50px;}

#slider {
    position: relative;
    text-align: center;
    width: 100%;
}


#hero .bx-wrapper {
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: -1;
}

	#slider .slide {
	    height: 500px;
	    text-align: center;
	    width: 100%;
	    background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	
	.quote_wrap {
	    z-index: 10;
	    position: absolute;
		bottom: 50px;
		text-align: left;
	}
	
		.quote_wrap .quote {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
		    color: #FFFFFF;
		    display: inline-block;
		    font-family: 'Roboto', sans-serif;
		    font-size: 36px;
		    font-weight: 100;
		    letter-spacing: -1px;
		    margin: 0;
		    padding: 10px 25px;
		    max-width: 670px;
		    float: left;
		}
		.quote_wrap .author {
		    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
		    color: #FFFFFF;
		    display: inline-block;
		    font-size: 30px;
		    font-weight: 400;
		    margin: 1px 0 0;
		    padding: 5px 25px;
		    text-transform: none;
		    float: left;
		    clear: both;
		}



/*===========================================================================================================*/
/*																					Videos					*/
/*=========================================================================================================*/

#videos {
    margin-bottom: 2px;
}

#videos h4{
		font-size: 34px;
		color: #fafafa;
		font-weight: 100;
		margin: 20px 0 -10px 0;
	}
	
	#videos .container.title{margin: 0 auto;}

	#videos .container{margin: 39px auto;}

	#videos .slide_btn{
	    margin-top: 4%;
	    position: relative;
	    top: 50%;
	}
	
		#videos .slide_btn a{		
			background: url(images/arrows.png) no-repeat;
			background-position: auto auto;
			display: block;
			height: 52px;
			width: 52px;
			margin: 0 auto;
			text-indent: -9999px;
			transition: transform .2s ease;
			-webkit-transition:transform .2s ease;
			-moz-transition:transform .2s ease;
			-o-transition:transform .2s ease;
			transform: translateX(0);
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
	        -o-transform: translateX(0);
	        -ms-transform: translateX(0);
	        
		}
		
		#videos .slide_btn .bx-prev{background-position: left top;	}
		
			#videos .slide_btn .bx-prev:hover{	
				transform: translateX(-10px);
				-moz-transform: translateX(-10px);
				-webkit-transform: translateX(-10px);
		        -o-transform: translateX(-10px);
		        -ms-transform: translateX(-10px);
		        
				}
			
		#videos .slide_btn .bx-next{background-position: right top; }
		
			#videos .slide_btn .bx-next:hover{	
				transform: translateX(10px);
				-moz-transform: translateX(10px);
				-webkit-transform: translateX(10px);
		        -o-transform: translateX(10px);
		        -ms-transform: translateX(10px);
		    }
	
	    .video_slider{margin: 0;}

		.video_slider li{
			float: left;
			list-style: none;
			height: 100%;
		}
		
			.video_slider a {
			    border: 4px solid #EEEEEE;
			    display: block;
			    height: 100%;
			    overflow: hidden;
			}
			
			.video_slider li .watch{
				background:  url(images/watch-hover2.png) no-repeat;
				height: 94px;
				width: 94px;
				margin: -46px 0 0 -46px;
				left: 50%;
				top: 50%;
				position: absolute;
				display: block;
				opacity: 0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				transition: opacity .2s ease;
				-webkit-transition: opacity .2s ease;
				-moz-transition: opacity .2s ease;
				-o-transition: opacity .2s ease;
			}
			
			.video_slider li:hover .watch{
				opacity: 80;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			}
			
			.video_slider li:hover img {
			      transform: scale(1, 1);
			      transition-duration: 200ms;
			      transition-timing-function: ease-out;
			}
			
			.video_slider li:hover img {
			     transform: scale(1.05, 1.05);
			     transition-duration: 200ms;
			     transition-timing-function: ease-out;
			}
			


	/* ----------------------------------
		Default Theme
	----------------------------------- */

	div.pp_default .pp_top,
	div.pp_default .pp_top .pp_middle,
	div.pp_default .pp_top .pp_left,
	div.pp_default .pp_top .pp_right,
	div.pp_default .pp_bottom,
	div.pp_default .pp_bottom .pp_left,
	div.pp_default .pp_bottom .pp_middle,
	div.pp_default .pp_bottom .pp_right { height: 13px; }
	
	div.pp_default .pp_top .pp_left { background: url(images/prettyPhoto/default/sprite.png) -78px -93px no-repeat; } /* Top left corner */
	div.pp_default .pp_top .pp_middle { background: url(images/prettyPhoto/default/sprite_x.png) top left repeat-x; } /* Top pattern/color */
	div.pp_default .pp_top .pp_right { background: url(images/prettyPhoto/default/sprite.png) -112px -93px no-repeat; } /* Top right corner */
	
	div.pp_default .pp_content .ppt { color: #f8f8f8; }
	div.pp_default .pp_content_container .pp_left { background: url(images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y; padding-left: 13px; }
	div.pp_default .pp_content_container .pp_right { background: url(images/prettyPhoto/default/sprite_y.png) top right repeat-y; padding-right: 13px; }
	div.pp_default .pp_content { background-color: #fff; } /* Content background */
	div.pp_default .pp_next:hover { background: url(images/prettyPhoto/default/sprite_next.png) center right  no-repeat; cursor: pointer; } /* Next button */
	div.pp_default .pp_previous:hover { background: url(images/prettyPhoto/default/sprite_prev.png) center left no-repeat; cursor: pointer; } /* Previous button */
	div.pp_default .pp_expand { background: url(images/prettyPhoto/default/sprite.png) 0 -29px no-repeat; cursor: pointer; width: 28px; height: 28px; } /* Expand button */
	div.pp_default .pp_expand:hover { background: url(images/prettyPhoto/default/sprite.png) 0 -56px no-repeat; cursor: pointer; } /* Expand button hover */
	div.pp_default .pp_contract { background: url(images/prettyPhoto/default/sprite.png) 0 -84px no-repeat; cursor: pointer; width: 28px; height: 28px; } /* Contract button */
	div.pp_default .pp_contract:hover { background: url(images/prettyPhoto/default/sprite.png) 0 -113px no-repeat; cursor: pointer; } /* Contract button hover */
	div.pp_default .pp_close { width: 30px; height: 30px; background: url(images/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor: pointer; } /* Close button */
	div.pp_default #pp_full_res .pp_inline { color: #000; } 
	div.pp_default .pp_gallery ul li a { background: url(images/prettyPhoto/default/default_thumb.png) center center #f8f8f8; border:1px solid #aaa; }
	div.pp_default .pp_gallery ul li a:hover,
	div.pp_default .pp_gallery ul li.selected a { border-color: #fff; }
	div.pp_default .pp_social { margin-top: 7px; }

	div.pp_default .pp_gallery a.pp_arrow_previous,
	div.pp_default .pp_gallery a.pp_arrow_next { position: static; left: auto; }
	div.pp_default .pp_nav .pp_play,
	div.pp_default .pp_nav .pp_pause { background: url(images/prettyPhoto/default/sprite.png) -51px 1px no-repeat; height:30px; width:30px; }
	div.pp_default .pp_nav .pp_pause { background-position: -51px -29px; }
	div.pp_default .pp_details { position: relative; }
	div.pp_default a.pp_arrow_previous,
	div.pp_default a.pp_arrow_next { background: url(images/prettyPhoto/default/sprite.png) -31px -3px no-repeat; height: 20px; margin: 4px 0 0 0; width: 20px; }
	div.pp_default a.pp_arrow_next { left: 52px; background-position: -82px -3px; } /* The next arrow in the bottom nav */
	div.pp_default .pp_content_container .pp_details { margin-top: 5px; }
	div.pp_default .pp_nav { clear: none; height: 30px; width: 110px; position: relative; }
	div.pp_default .pp_nav .currentTextHolder{ font-family: Georgia; font-style: italic; color:#999; font-size: 11px; left: 75px; line-height: 25px; margin: 0; padding: 0 0 0 10px; position: absolute; top: 2px; }
	
	div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover { opacity:0.7; }

	div.pp_default .pp_description{ font-size: 11px; font-weight: bold; line-height: 14px; margin: 5px 50px 5px 0; }

	div.pp_default .pp_bottom .pp_left { background: url(images/prettyPhoto/default/sprite.png) -78px -127px no-repeat; } /* Bottom left corner */
	div.pp_default .pp_bottom .pp_middle { background: url(images/prettyPhoto/default/sprite_x.png) bottom left repeat-x; } /* Bottom pattern/color */
	div.pp_default .pp_bottom .pp_right { background: url(images/prettyPhoto/default/sprite.png) -112px -127px no-repeat; } /* Bottom right corner */

	div.pp_default .pp_loaderIcon { background: url(images/prettyPhoto/default/loader.gif) center center no-repeat; } /* Loader icon */

	
	/* ----------------------------------
		Light Rounded Theme
	----------------------------------- */


	div.light_rounded .pp_top .pp_left { background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat; } /* Top left corner */
	div.light_rounded .pp_top .pp_middle { background: #fff; } /* Top pattern/color */
	div.light_rounded .pp_top .pp_right { background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat; } /* Top right corner */
	
	div.light_rounded .pp_content .ppt { color: #000; }
	div.light_rounded .pp_content_container .pp_left,
	div.light_rounded .pp_content_container .pp_right { background: #fff; }
	div.light_rounded .pp_content { background-color: #fff; } /* Content background */
	div.light_rounded .pp_next:hover { background: url(images/prettyPhoto/light_rounded/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	div.light_rounded .pp_previous:hover { background: url(images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	div.light_rounded .pp_expand { background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.light_rounded .pp_expand:hover { background: url(images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.light_rounded .pp_contract { background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.light_rounded .pp_contract:hover { background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.light_rounded .pp_close { width: 75px; height: 22px; background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.light_rounded .pp_details { position: relative; }
	div.light_rounded .pp_description { margin-right: 85px; }
	div.light_rounded #pp_full_res .pp_inline { color: #000; } 
	div.light_rounded .pp_gallery a.pp_arrow_previous,
	div.light_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }
	div.light_rounded .pp_nav .pp_play { background: url(images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }
	div.light_rounded .pp_nav .pp_pause { background: url(images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

	div.light_rounded .pp_arrow_previous { background: url(images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat; } /* The previous arrow in the bottom nav */
		div.light_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }
	div.light_rounded .pp_arrow_next { background: url(images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat; } /* The next arrow in the bottom nav */
		div.light_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

	div.light_rounded .pp_bottom .pp_left { background: url(images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat; } /* Bottom left corner */
	div.light_rounded .pp_bottom .pp_middle { background: #fff; } /* Bottom pattern/color */
	div.light_rounded .pp_bottom .pp_right { background: url(images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat; } /* Bottom right corner */

	div.light_rounded .pp_loaderIcon { background: url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; } /* Loader icon */
	
	/* ----------------------------------
		Dark Rounded Theme
	----------------------------------- */
	
	div.dark_rounded .pp_top .pp_left { background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat; } /* Top left corner */
	div.dark_rounded .pp_top .pp_middle { background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; } /* Top pattern/color */
	div.dark_rounded .pp_top .pp_right { background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat; } /* Top right corner */
	
	div.dark_rounded .pp_content_container .pp_left { background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y; } /* Left Content background */
	div.dark_rounded .pp_content_container .pp_right { background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y; } /* Right Content background */
	div.dark_rounded .pp_content { background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; } /* Content background */
	div.dark_rounded .pp_next:hover { background: url(images/prettyPhoto/dark_rounded/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	div.dark_rounded .pp_previous:hover { background: url(images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	div.dark_rounded .pp_expand { background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.dark_rounded .pp_expand:hover { background: url(images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.dark_rounded .pp_contract { background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.dark_rounded .pp_contract:hover { background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.dark_rounded .pp_close { width: 75px; height: 22px; background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.dark_rounded .pp_details { position: relative; }
	div.dark_rounded .pp_description { margin-right: 85px; }
	div.dark_rounded .currentTextHolder { color: #c4c4c4; }
	div.dark_rounded .pp_description { color: #fff; }
	div.dark_rounded #pp_full_res .pp_inline { color: #fff; }
	div.dark_rounded .pp_gallery a.pp_arrow_previous,
	div.dark_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }
	div.dark_rounded .pp_nav .pp_play { background: url(images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }
	div.dark_rounded .pp_nav .pp_pause { background: url(images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

	div.dark_rounded .pp_arrow_previous { background: url(images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat; } /* The previous arrow in the bottom nav */
		div.dark_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }
	div.dark_rounded .pp_arrow_next { background: url(images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat; } /* The next arrow in the bottom nav */
		div.dark_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

	div.dark_rounded .pp_bottom .pp_left { background: url(images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat; } /* Bottom left corner */
	div.dark_rounded .pp_bottom .pp_middle { background: url(images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; } /* Bottom pattern/color */
	div.dark_rounded .pp_bottom .pp_right { background: url(images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat; } /* Bottom right corner */

	div.dark_rounded .pp_loaderIcon { background: url(images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat; } /* Loader icon */
	
	
	/* ----------------------------------
		Dark Square Theme
	----------------------------------- */
	
	div.dark_square .pp_left ,
	div.dark_square .pp_middle,
	div.dark_square .pp_right,
	div.dark_square .pp_content { background: #000; }
	
	div.dark_square .currentTextHolder { color: #c4c4c4; }
	div.dark_square .pp_description { color: #fff; }
	div.dark_square .pp_loaderIcon { background: url(images/prettyPhoto/dark_square/loader.gif) center center no-repeat; } /* Loader icon */
	
	div.dark_square .pp_expand { background: url(images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.dark_square .pp_expand:hover { background: url(images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.dark_square .pp_contract { background: url(images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.dark_square .pp_contract:hover { background: url(images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.dark_square .pp_close { width: 75px; height: 22px; background: url(images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.dark_square .pp_details { position: relative; }
	div.dark_square .pp_description { margin: 0 85px 0 0; }
	div.dark_square #pp_full_res .pp_inline { color: #fff; }
	div.dark_square .pp_gallery a.pp_arrow_previous,
	div.dark_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }
	div.dark_square .pp_nav { clear: none; }
	div.dark_square .pp_nav .pp_play { background: url(images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }
	div.dark_square .pp_nav .pp_pause { background: url(images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }
	
	div.dark_square .pp_arrow_previous { background: url(images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat; } /* The previous arrow in the bottom nav */
		div.dark_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }
	div.dark_square .pp_arrow_next { background: url(images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat; } /* The next arrow in the bottom nav */
		div.dark_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }
	
	div.dark_square .pp_next:hover { background: url(images/prettyPhoto/dark_square/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	div.dark_square .pp_previous:hover { background: url(images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */


	/* ----------------------------------
		Light Square Theme
	----------------------------------- */
	
	div.light_square .pp_left ,
	div.light_square .pp_middle,
	div.light_square .pp_right,
	div.light_square .pp_content { background: #fff; }
	
	div.light_square .pp_content .ppt { color: #000; }
	div.light_square .pp_expand { background: url(images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.light_square .pp_expand:hover { background: url(images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.light_square .pp_contract { background: url(images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.light_square .pp_contract:hover { background: url(images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.light_square .pp_close { width: 75px; height: 22px; background: url(images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.light_square .pp_details { position: relative; }
	div.light_square .pp_description { margin-right: 85px; }
	div.light_square #pp_full_res .pp_inline { color: #000; }
	div.light_square .pp_gallery a.pp_arrow_previous,
	div.light_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }
	div.light_square .pp_nav .pp_play { background: url(images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }
	div.light_square .pp_nav .pp_pause { background: url(images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }
	
	div.light_square .pp_arrow_previous { background: url(images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat; } /* The previous arrow in the bottom nav */
		div.light_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }
	div.light_square .pp_arrow_next { background: url(images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat; } /* The next arrow in the bottom nav */
		div.light_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }
	
	div.light_square .pp_next:hover { background: url(images/prettyPhoto/light_square/btnNext.png) center right  no-repeat; cursor: pointer; } /* Next button */
	div.light_square .pp_previous:hover { background: url(images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	
	div.light_square .pp_loaderIcon { background: url(images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; } /* Loader icon */


	/* ----------------------------------
		Facebook style Theme
	----------------------------------- */
	
	div.facebook .pp_top .pp_left { background: url(images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat; } /* Top left corner */
	div.facebook .pp_top .pp_middle { background: url(images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x; } /* Top pattern/color */
	div.facebook .pp_top .pp_right { background: url(images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat; } /* Top right corner */
	
	div.facebook .pp_content .ppt { color: #000; }
	div.facebook .pp_content_container .pp_left { background: url(images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y; } /* Content background */
	div.facebook .pp_content_container .pp_right { background: url(images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y; } /* Content background */
	div.facebook .pp_content { background: #fff; } /* Content background */
	div.facebook .pp_expand { background: url(images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat; cursor: pointer; } /* Expand button */
	div.facebook .pp_expand:hover { background: url(images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat; cursor: pointer; } /* Expand button hover */
	div.facebook .pp_contract { background: url(images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat; cursor: pointer; } /* Contract button */
	div.facebook .pp_contract:hover { background: url(images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat; cursor: pointer; } /* Contract button hover */
	div.facebook .pp_close { width: 22px; height: 22px; background: url(images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat; cursor: pointer; } /* Close button */
	div.facebook .pp_details { position: relative; }
	div.facebook .pp_description { margin: 0 37px 0 0; }
	div.facebook #pp_full_res .pp_inline { color: #000; } 
	div.facebook .pp_loaderIcon { background: url(images/prettyPhoto/facebook/loader.gif) center center no-repeat; } /* Loader icon */
	
	div.facebook .pp_arrow_previous { background: url(images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat; height: 22px; margin-top: 0; width: 22px; } /* The previous arrow in the bottom nav */
		div.facebook .pp_arrow_previous.disabled { background-position: 0 -96px; cursor: default; }
	div.facebook .pp_arrow_next { background: url(images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat; height: 22px; margin-top: 0; width: 22px; } /* The next arrow in the bottom nav */
		div.facebook .pp_arrow_next.disabled { background-position: -32px -96px; cursor: default; }
	div.facebook .pp_nav { margin-top: 0; }
	div.facebook .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }
	div.facebook .pp_nav .pp_play { background: url(images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat; height: 22px; width: 22px; }
	div.facebook .pp_nav .pp_pause { background: url(images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat; height: 22px; width: 22px; }
	
	div.facebook .pp_next:hover { background: url(images/prettyPhoto/facebook/btnNext.png) center right no-repeat; cursor: pointer; } /* Next button */
	div.facebook .pp_previous:hover { background: url(images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat; cursor: pointer; } /* Previous button */
	
	div.facebook .pp_bottom .pp_left { background: url(images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat; } /* Bottom left corner */
	div.facebook .pp_bottom .pp_middle { background: url(images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x; } /* Bottom pattern/color */
	div.facebook .pp_bottom .pp_right { background: url(images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat; } /* Bottom right corner */


/* ------------------------------------------------------------------------
	DO NOT CHANGE
------------------------------------------------------------------------- */

	div.pp_pic_holder a:focus { outline:none; }

	div.pp_overlay {
		background: #000;
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9500;
	}
	
	div.pp_pic_holder {
		display: none;
		position: absolute;
		width: 100px;
		z-index: 10000;
	}

		
		.pp_top {
			height: 20px;
			position: relative;
		}
			* html .pp_top { padding: 0 20px; }
		
			.pp_top .pp_left {
				height: 20px;
				left: 0;
				position: absolute;
				width: 20px;
			}
			.pp_top .pp_middle {
				height: 20px;
				left: 20px;
				position: absolute;
				right: 20px;
			}
				* html .pp_top .pp_middle {
					left: 0;
					position: static;
				}
			
			.pp_top .pp_right {
				height: 20px;
				left: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 20px;
			}
		
		.pp_content { height: 40px; min-width: 40px; }
		* html .pp_content { width: 40px; }
		
		.pp_fade { display: none; }
		
		.pp_content_container {
			position: relative;
			text-align: left;
			width: 100%;
		}
		
			.pp_content_container .pp_left { padding-left: 20px; }
			.pp_content_container .pp_right { padding-right: 20px; }
		
			.pp_content_container .pp_details {
				float: left;
				margin: 10px 0 2px 0;
			}
				.pp_description {
					display: none;
					margin: 0;
				}
				
				.pp_social { float: left; margin: 0; }
				.pp_social .facebook { float: left; margin-left: 5px; width: 55px; overflow: hidden; }
				.pp_social .twitter { float: left; }
				
				.pp_nav {
					clear: right;
					float: left;
					margin: 3px 10px 0 0;
				}
				
					.pp_nav p {
						float: left;
						margin: 2px 4px;
						white-space: nowrap;
					}
					
					.pp_nav .pp_play,
					.pp_nav .pp_pause {
						float: left;
						margin-right: 4px;
						text-indent: -10000px;
					}
				
					a.pp_arrow_previous,
					a.pp_arrow_next {
						display: block;
						float: left;
						height: 15px;
						margin-top: 3px;
						overflow: hidden;
						text-indent: -10000px;
						width: 14px;
					}
		
		.pp_hoverContainer {
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2000;
		}
		
		.pp_gallery {
			display: none;
			left: 50%;
			margin-top: -50px;
			position: absolute;
			z-index: 10000;
		}
		
			.pp_gallery div {
				float: left;
				overflow: hidden;
				position: relative;
			}
			
			.pp_gallery ul {
				float: left;
				height: 35px;
				margin: 0 0 0 5px;
				padding: 0;
				position: relative;
				white-space: nowrap;
			}
			
			.pp_gallery ul a {
				border: 1px #000 solid;
				border: 1px rgba(0,0,0,0.5) solid;
				display: block;
				float: left;
				height: 33px;
				overflow: hidden;
			}
			
			.pp_gallery ul a:hover,
			.pp_gallery li.selected a { border-color: #fff; }
			
			.pp_gallery ul a img { border: 0; }
			
			.pp_gallery li {
				display: block;
				float: left;
				margin: 0 5px 0 0;
				padding: 0;
			}
			
			.pp_gallery li.default a {
				background: url(images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
				display: block;
				height: 33px;
				width: 50px;
			}
			
			.pp_gallery li.default a img { display: none; }
			
			.pp_gallery .pp_arrow_previous,
			.pp_gallery .pp_arrow_next {
				margin-top: 7px !important;
			}
		
		a.pp_next {
			background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
			display: block;
			float: right;
			height: 100%;
			text-indent: -10000px;
			width: 49%;
		}
			
		a.pp_previous {
			background: url(images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
			display: block;
			float: left;
			height: 100%;
			text-indent: -10000px;
			width: 49%;
		}
		
		a.pp_expand,
		a.pp_contract {
			cursor: pointer;
			display: none;
			height: 20px;	
			position: absolute;
			right: 30px;
			text-indent: -10000px;
			top: 10px;
			width: 20px;
			z-index: 20000;
		}
			
		a.pp_close {
			position: absolute; right: 0; top: 0; 
			display: block;
			line-height:22px;
			text-indent: -10000px;
		}
		
		.pp_bottom {
			height: 20px;
			position: relative;
		}
			* html .pp_bottom { padding: 0 20px; }
			
			.pp_bottom .pp_left {
				height: 20px;
				left: 0;
				position: absolute;
				width: 20px;
			}
			.pp_bottom .pp_middle {
				height: 20px;
				left: 20px;
				position: absolute;
				right: 20px;
			}
				* html .pp_bottom .pp_middle {
					left: 0;
					position: static;
				}
				
			.pp_bottom .pp_right {
				height: 20px;
				left: auto;
				position: absolute;
				right: 0;
				top: 0;
				width: 20px;
			}
		
		.pp_loaderIcon {
			display: block;
			height: 24px;
			left: 50%;
			margin: -12px 0 0 -12px;
			position: absolute;
			top: 50%;
			width: 24px;
		}
		
		#pp_full_res {
			line-height: 1 !important;
		}
		
			#pp_full_res .pp_inline {
				text-align: left;
			}
			
				#pp_full_res .pp_inline p { margin: 0 0 15px 0; }
	
		div.ppt {
			color: #fff;
			display: none;
			font-size: 17px;
			margin: 0 0 5px 15px;
			z-index: 9999;
		}
/*===========================================================================================================*/
/*																					About					*/
/*=========================================================================================================*/

#about {
    padding: 40px 0;
    background: url(images/bg-mk_about.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 2px;
}

	#about h2 {
	    background: none repeat scroll 0 0 #FFFFFF;
	    display: inline-block;
	    font-family: 'Roboto',sans-serif;
	    font-size: 48px;
	    font-weight: 100;
	    line-height: 1;
	    margin: 0 0 -5px;
	    padding: 10px 20px;
	}

	
	#about .text {
	    background: none repeat scroll 0 0 #FFFFFF;
	    margin-top: 8px;
	    padding: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
		p{
			font-size: 14px;
			line-height: 26px;
			color: #252525;
			font-weight: 300;
		}
		
		p:last-child{
			margin-bottom: 0;
		}


/*===========================================================================================================*/
/*																					Clients					*/
/*=========================================================================================================*/

#clients {
    margin-top: 2px;
    padding: 35px 0;
    margin-bottom: 2px;
}

	#clients h4{
		font-size: 34px;
		color: #fafafa;
		font-weight: 100;
		margin-bottom: 30px;
	}

.client {
    float: left;
    list-style: none outside none;
    padding:10px;
    height: 110px;
    text-align: center;
    margin-bottom: 10px;
}
	
	.client img {
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
		}

#awards h4{
	margin-left: 10px;
}

.award {
	text-align: center;
	margin-bottom: 20px;
}

/*
	.award .wrap{
		display: table;
	}
	
*/
	.award-content {
	    display: table-cell;
	    height: 64px;
	    margin-bottom: 20px;
	    vertical-align: middle;
	    width: 180px;
	    padding: 0 20px;
	}

	.award .line_one {
	    color: #FFFFFF;
	    font-size: 14px;
	    line-height: 15px;
	    margin-bottom: 4px;
	    font-weight: 400;
	}
	
	.award .line_two {
	    color: #FFFFFF;
	    font-size: 14px;
	    line-height: 15px;
	    font-weight: 100;
	}

.award-content:before,
.award-content:after{
	position: absolute;
	content: "";
	display: block;
	width: 27px;
	height: 64px;
	top: 0;
}
	
.award-content:before{
    background: url(images/leaf-left.png) no-repeat;
    left: 10px;
}	

.award-content:after{
	background: url(images/leaf-right.png) no-repeat;
	right: 10px;
}	
			


 
/*===========================================================================================================*/
/*																					Footer					*/
/*=========================================================================================================*/
  
footer{
	position: relative;
	z-index: 5;
}  

#booking {
    width: 100%;
    background: #ffffff;
    height: 80px;
}

#booking .content{
  	position:relative;
  	height: 100%;
}
#booking .content:before, 
#booking .content:after{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 14px -3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0 0 14px -3px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 14px -3px rgba(0, 0, 0, 0.5);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#booking .content:after{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

	.booking.three.columns {
	    margin-top: 15px;
	}

	.booking p {
	    border-right: 1px solid #CCCCCC;
	    color: #A7A7A7;
	    display: table-cell;
	    font-size: 16px;
	    line-height: 24px;
	    margin-bottom: 0;
	    padding-right: 34px;
	    vertical-align: middle;
	}
	
	#booking .textwidget{
		height: 100%;
		display: table;
		vertical-align: middle;
		width: 100%;
	}
	
		#booking input{margin-bottom: 0; background: #eeeeee;}
	
	div.wpcf7 {
	    display: table;
	    height: 80px;
	    margin: 0;
	    padding: 0;
	}
	
	div.wpcf7 img.ajax-loader {
	    border: medium none;
	    margin-left: 4px;
	    position: absolute;
	    vertical-align: middle;
	}
	
	#booking .wpcf7-form {
	    display: table-cell;
	    position: relative;
	    vertical-align: middle;
	}
	
	#booking .wpcf7-submit {
		-moz-box-shadow:inset 0px 1px 0px 0px #6cc0e1;
		-webkit-box-shadow:inset 0px 1px 0px 0px #6cc0e1;
		box-shadow:inset 0px 1px 0px 0px #6cc0e1;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #23a0d5), color-stop(1, #1b7ea8) );
		background:-moz-linear-gradient( center top, #23a0d5 5%, #1b7ea8 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a0d5', endColorstr='#1b7ea8');
		background-color:#23a0d5;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #579fbe;
		display:inline-block;
		color:#ffffff;
		font-size:14px;
		font-weight:normal;
		padding:6px 12px;
		text-decoration:none;
		text-shadow:1px 1px 0px #15688b;
		cursor: pointer;
		width: 100%;
	}
	#booking .wpcf7-submit:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1b7ea8), color-stop(1, #23a0d5) );
		background:-moz-linear-gradient( center top, #1b7ea8 5%, #23a0d5 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b7ea8', endColorstr='#23a0d5');
		background-color:#1b7ea8;
	}
	#booking .wpcf7-submit:active {
		position:relative;
		top:1px;
	}
	
	.wpcf7-mail-sent-ok{
		border: 0 none;
		margin: 0;
	}
	
	.wpcf7-date.wpcf7-use-title-as-watermark {
	    background: url("images/icon_calendar.png") no-repeat scroll 7px 5px #eeeeee;
	    padding-left: 35px;
	}

	#booking span.wpcf7-not-valid-tip {
	    background: none repeat scroll 0 0 transparent;
	    border-color: #FF0000 -moz-use-text-color -moz-use-text-color;
	    border-style: solid none none;
	    border-width: 3px medium medium;
	    font-size: 10pt;
	    left: 20%;
	    padding: 2px;
	    position: absolute;
	    text-indent: -9999px;
	    top: -2px;
	    width: 272px;
	    z-index: 100;
	}
	
	div.wpcf7-response-output {
	    margin: 0;
	    padding: 0;
	}
	
	div.wpcf7-validation-errors {
	    border: medium none;
	    bottom: 0;
	    display: block;
	    left: 10px;
	    position: absolute;
	}


#contact{
	padding: 35px 0;
}

	#contact .entry-text p{
		font-size: 14px;
		line-height: 20px;
		font-weight: 100px;
		
	}
	
	
	#contact .wpcf7-submit {
			-moz-box-shadow:inset 0px 1px 0px 0px #6cc0e1;
			-webkit-box-shadow:inset 0px 1px 0px 0px #6cc0e1;
			box-shadow:inset 0px 1px 0px 0px #6cc0e1;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #23a0d5), color-stop(1, #1b7ea8) );
			background:-moz-linear-gradient( center top, #23a0d5 5%, #1b7ea8 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#23a0d5', endColorstr='#1b7ea8');
			background-color:#23a0d5;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			border:1px solid #579fbe;
			display:inline-block;
			color:#ffffff;
			font-size:14px;
			font-weight:normal;
			padding:6px 12px;
			text-decoration:none;
			text-shadow:1px 1px 0px #15688b;
			cursor: pointer;
			width: 100px;
		}
		
		#contact div.wpcf7-response-output{
			border: none;
		}
		
footer{
	background: #252525;
}
	
	footer .bar{width: 100%; line-height: 0; padding: 17px 0;}

	footer .copyright{
		color: #fff;
		float: left;
		letter-spacing: 0;
	}
	
	footer .contact{
		color: #fff;
		float: right;
	}
	
		footer .contact:hover{
			color: #2BA6CB;
		}



/* Very large screens */
@media only screen and (min-width: 1441px) { 
}

/* Medium screens */
@media only screen and (max-width: 1279px) and (min-width: 768px) { 

}

/* Small screens */
@media only screen and (max-width: 767px) {
	
}

/* Landscape Orientation */
@media screen and (orientation: landscape) {
	
}

/* Portrait Orientation */
@media screen and (orientation: portrait) {
	
}

/* Touch Detection */
.touch .your-class {  }